<div class="formGroup " style="position: absolute;top: 22%;right: 11%;">
  <div *ngFor="let income of incomeList">
    <div class="list" *ngIf="income.description">
      <table>
        <tr>
          <th>Id-Income</th>
          <th>Description</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td>{{income._id}}</td>
          <td>{{income.description}}</td>
          <td>{{income.amount}}</td>
        </tr>

      </table>
      <button (click)="delete(income._id)" class="formControl buttonDelete">Delete</button>
      <button [routerLink]="['/edit-income', income._id]" class="formControl buttonEdit">Edit</button>
    </div>
  </div>
</div>